@font-face {
    font-family: Satoshi-medium;
    src: url(Fonts/Satoshi-Medium.otf);
}

* {
    font-family: Satoshi-medium;
    color: white;
    margin: 0;
    padding: 0;
}

.navigation nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#nav-link {
    text-decoration: none;
    font-weight: bold;
    z-index: 1;
    mix-blend-mode: difference;
    user-select: none;
}    

.stage {
    position: relative;
    display: flex;
    width: max-content;
    transition: transform 0.1s ease-out;
    z-index: -1;
    isolation: isolate;
}

.bg-carousel {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    inset: 0;
    pointer-events: none;
    /* visibility: hidden; */
    backface-visibility: hidden;
    transition: transform 600ms cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform;
}

.bg-carousel.is-current {
    transform: translateX(0);
}

.bg-carousel.is-next {
    transform: translateX(100%);
}

.bg-carousel.is-prev {
    transform: translateX(-100%);
}

.bk-img {
    width: 80vw;
    height: 80vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: filter 0.4s ease;
}

.bg1 {
    background-image: url(Photos/Slide-cafe-nbg.png);
}

.bg2 {
    background-image: url(Photos/code-page.png);
}

.bg3 {
    background-image: url(Photos/CSE_CSPIT.png);
}

.bg4 {
    background-image: url(Photos/desk.jpg);
}

.bg5 {
    background-image: url(Photos/College-building.jpg);
}

.bg6 {
    background-image: url(Photos/Museum.jpg);
}

.bg--1 {background-color: rgb(20, 20, 20);}
.bg--2 {background-color: rgb(40, 40, 84);}
.bg--3 {background-color: rgb(198, 250, 251);}
.bg--4 {background-color: rgb(234, 234, 234);}
.bg--5 {background-color: rgb(255, 243, 156);}
.bg--6 {background-color: rgb(255, 255, 255);}

.description {
    position: absolute;
    width: 100%;
    top: 6%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.2rem;

    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 2;

    mix-blend-mode: difference;
}

.text-1 {
    grid-column: 1;
}

.text-3 {
    grid-column: 3;
}

.page-container:has(.navi a:hover) .bk-img {
    filter: blur(10px);
}

.page-container:has(:is(.faculty, .about, .academic, .contact):hover) .description {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 600px) {

    body {
        font-family: Satoshi-medium;
        color: white;
    }

    .page-container {
        width: 95%;
    }

    .navi {
        display: none;
    }
    
}